<div class="container pt-5">
  <div class="row">
    <div class="col-8">
      <div class="py-2" *ngFor="let item of roles">
        <mat-card class="card text-primary py-1">
          <mat-card-header>
            <mat-card-title>{{item.name | titlecase}}</mat-card-title>
          </mat-card-header>
          <mat-card-actions class="d-flex card-actions">
            <div class="ml-auto justify-content-center align-items-center">
              <button mat-icon-button [routerLink]="['detail/', item.id]" color="primary">
                <mat-icon>info</mat-icon>
              </button>
              <button mat-icon-button [disabled]="item.name === 'users' ||item.name === 'admin'" (click)="changeToEdit(item)" color="accent">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" [disabled]="item.name === 'users' ||item.name === 'admin'" (click)="deleteRole(item.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>

      </div>
    </div>
    <div class="col-4">
      <app-role-add (AddedRole)="newRole()" *ngIf="add"></app-role-add>
      <button class="position" *ngIf="!add" (click)="changeToAdd()" mat-mini-fab color="accent">
        <mat-icon>add</mat-icon>
      </button>
      <app-role-edit *ngIf="!add" [role]="role"></app-role-edit>
    </div>
  </div>
</div>